################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/bin/Release/UnityEngine.XRModule.dll
/bin/Release/UnityEngine.WindModule.dll
/bin/Release/UnityEngine.VRModule.dll
/bin/Release/UnityEngine.VideoModule.dll
/bin/Release/UnityEngine.VFXModule.dll
/bin/Release/UnityEngine.VehiclesModule.dll
/bin/Release/UnityEngine.UnityWebRequestWWWModule.dll
/bin/Release/UnityEngine.UnityWebRequestTextureModule.dll
/bin/Release/UnityEngine.UnityWebRequestModule.dll
/bin/Release/UnityEngine.UnityWebRequestAudioModule.dll
/bin/Release/UnityEngine.UnityWebRequestAssetBundleModule.dll
/bin/Release/UnityEngine.UnityConnectModule.dll
/bin/Release/UnityEngine.UnityAnalyticsModule.dll
/bin/Release/UnityEngine.UNETModule.dll
/bin/Release/UnityEngine.UIModule.dll
/bin/Release/UnityEngine.UIElementsModule.dll
/bin/Release/UnityEngine.UI.dll
/bin/Release/UnityEngine.TilemapModule.dll
/bin/Release/UnityEngine.TextRenderingModule.dll
/bin/Release/UnityEngine.TextCoreModule.dll
/bin/Release/UnityEngine.TerrainPhysicsModule.dll
/bin/Release/UnityEngine.TerrainModule.dll
/bin/Release/UnityEngine.StyleSheetsModule.dll
/bin/Release/UnityEngine.StreamingModule.dll
/bin/Release/UnityEngine.SpriteShapeModule.dll
/bin/Release/UnityEngine.SpriteMaskModule.dll
/bin/Release/UnityEngine.SharedInternalsModule.dll
/bin/Release/UnityEngine.ScreenCaptureModule.dll
/bin/Release/UnityEngine.PhysicsModule.dll
/bin/Release/UnityEngine.Physics2DModule.dll
/bin/Release/UnityEngine.PerformanceReportingModule.dll
/bin/Release/UnityEngine.ParticleSystemModule.dll
/bin/Release/UnityEngine.LocalizationModule.dll
/bin/Release/UnityEngine.JSONSerializeModule.dll
/bin/Release/UnityEngine.InputModule.dll
/bin/Release/UnityEngine.IMGUIModule.dll
/bin/Release/UnityEngine.ImageConversionModule.dll
/bin/Release/UnityEngine.GridModule.dll
/bin/Release/UnityEngine.GameCenterModule.dll
/bin/Release/UnityEngine.dll
/bin/Release/UnityEngine.DirectorModule.dll
/bin/Release/UnityEngine.CrashReportingModule.dll
/bin/Release/UnityEngine.CoreModule.dll
/bin/Release/UnityEngine.ClusterRendererModule.dll
/bin/Release/UnityEngine.ClusterInputModule.dll
/bin/Release/UnityEngine.ClothModule.dll
/bin/Release/UnityEngine.AudioModule.dll
/bin/Release/UnityEngine.AssetBundleModule.dll
/bin/Release/UnityEngine.ARModule.dll
/bin/Release/UnityEngine.AnimationModule.dll
/bin/Release/UnityEngine.AIModule.dll
/bin/Release/UnityEngine.AccessibilityModule.dll
/bin/Release/Unity.TextMeshPro.dll
/bin/Release/Unity.Postprocessing.Runtime.dll
/bin/Release/UnboundLib.dll
/bin/Release/System.Xml.XPath.XDocument.dll
/bin/Release/System.Xml.XPath.dll
/bin/Release/System.Xml.XmlSerializer.dll
/bin/Release/System.Xml.XmlDocument.dll
/bin/Release/System.Xml.XDocument.dll
/bin/Release/System.Xml.ReaderWriter.dll
/bin/Release/System.ValueTuple.dll
/bin/Release/System.Threading.Timer.dll
/bin/Release/System.Threading.ThreadPool.dll
/bin/Release/System.Threading.Thread.dll
/bin/Release/System.Threading.Tasks.Parallel.dll
/bin/Release/System.Threading.Tasks.dll
/bin/Release/System.Threading.Overlapped.dll
/bin/Release/System.Threading.dll
/bin/Release/System.Text.RegularExpressions.dll
/bin/Release/System.Text.Encoding.Extensions.dll
/bin/Release/System.Text.Encoding.dll
/bin/Release/System.Security.SecureString.dll
/bin/Release/System.Security.Principal.dll
/bin/Release/System.Security.Cryptography.X509Certificates.dll
/bin/Release/System.Security.Cryptography.Primitives.dll
/bin/Release/System.Security.Cryptography.Encoding.dll
/bin/Release/System.Security.Cryptography.Csp.dll
/bin/Release/System.Security.Cryptography.Algorithms.dll
/bin/Release/System.Security.Claims.dll
/bin/Release/System.Runtime.Serialization.Xml.dll
/bin/Release/System.Runtime.Serialization.Primitives.dll
/bin/Release/System.Runtime.Serialization.Json.dll
/bin/Release/System.Runtime.Serialization.Formatters.dll
/bin/Release/System.Runtime.Numerics.dll
/bin/Release/System.Runtime.InteropServices.RuntimeInformation.dll
/bin/Release/System.Runtime.InteropServices.dll
/bin/Release/System.Runtime.Handles.dll
/bin/Release/System.Runtime.Extensions.dll
/bin/Release/System.Runtime.dll
/bin/Release/System.Runtime.CompilerServices.VisualC.dll
/bin/Release/System.Resources.Writer.dll
/bin/Release/System.Resources.ResourceManager.dll
/bin/Release/System.Resources.Reader.dll
/bin/Release/System.Reflection.Primitives.dll
/bin/Release/System.Reflection.Extensions.dll
/bin/Release/System.Reflection.dll
/bin/Release/System.ObjectModel.dll
/bin/Release/System.Net.WebSockets.dll
/bin/Release/System.Net.WebSockets.Client.dll
/bin/Release/System.Net.WebHeaderCollection.dll
/bin/Release/System.Net.Sockets.dll
/bin/Release/System.Net.Security.dll
/bin/Release/System.Net.Requests.dll
/bin/Release/System.Net.Primitives.dll
/bin/Release/System.Net.Ping.dll
/bin/Release/System.Net.NetworkInformation.dll
/bin/Release/System.Net.NameResolution.dll
/bin/Release/System.Net.Http.dll
/bin/Release/System.Linq.Queryable.dll
/bin/Release/System.Linq.Parallel.dll
/bin/Release/System.Linq.Expressions.dll
/bin/Release/System.Linq.dll
/bin/Release/System.IO.UnmanagedMemoryStream.dll
/bin/Release/System.IO.Pipes.dll
/bin/Release/System.IO.MemoryMappedFiles.dll
/bin/Release/System.IO.IsolatedStorage.dll
/bin/Release/System.IO.FileSystem.Watcher.dll
/bin/Release/System.IO.FileSystem.Primitives.dll
/bin/Release/System.IO.FileSystem.DriveInfo.dll
/bin/Release/System.IO.FileSystem.dll
/bin/Release/System.IO.dll
/bin/Release/System.IO.Compression.ZipFile.dll
/bin/Release/System.IO.Compression.dll
/bin/Release/System.Globalization.Extensions.dll
/bin/Release/System.Globalization.dll
/bin/Release/System.Globalization.Calendars.dll
/bin/Release/System.Dynamic.Runtime.dll
/bin/Release/System.Drawing.Primitives.dll
/bin/Release/System.Diagnostics.Tracing.dll
/bin/Release/System.Diagnostics.TraceSource.dll
/bin/Release/System.Diagnostics.Tools.dll
/bin/Release/System.Diagnostics.TextWriterTraceListener.dll
/bin/Release/System.Diagnostics.StackTrace.dll
/bin/Release/System.Diagnostics.Process.dll
/bin/Release/System.Diagnostics.FileVersionInfo.dll
/bin/Release/System.Diagnostics.Debug.dll
/bin/Release/System.Diagnostics.Contracts.dll
/bin/Release/System.Data.Common.dll
/bin/Release/System.Console.dll
/bin/Release/System.ComponentModel.TypeConverter.dll
/bin/Release/System.ComponentModel.Primitives.dll
/bin/Release/System.ComponentModel.EventBasedAsync.dll
/bin/Release/System.ComponentModel.dll
/bin/Release/System.Collections.Specialized.dll
/bin/Release/System.Collections.NonGeneric.dll
/bin/Release/System.Collections.dll
/bin/Release/System.Collections.Concurrent.dll
/bin/Release/System.AppContext.dll
/bin/Release/SonigonAudioEngine.Runtime.dll
/bin/Release/Sirenix.Utilities.dll
/bin/Release/Sirenix.Serialization.dll
/bin/Release/Sirenix.Serialization.Config.dll
/bin/Release/Sirenix.OdinInspector.Attributes.dll
/bin/Release/RemovePostFX.pdb
/bin/Release/QuatCompress.dll
/bin/Release/PhotonUnityNetworking.dll
/bin/Release/PhotonRealtime.dll
/bin/Release/Photon3Unity3D.dll
/bin/Release/netstandard.dll
/bin/Release/MMHOOK_Assembly-CSharp.dll
/bin/Release/Microsoft.Win32.Primitives.dll
/bin/Release/InControl.dll
/bin/Release/HalFloat.dll
/bin/Release/HalfFloatASMDEF.dll
/bin/Release/FloatCrusher.dll
/bin/Release/EmoCompressUtilsASMDEF.dll
/bin/Release/ByteConverter.dll
/bin/Release/BitpackersASMDEF.dll
/bin/Release/BepInEx.Harmony.dll
/bin/Release/BepInEx.dll
/bin/Release/Assembly-CSharp.dll
/bin/Release/Assembly-CSharp-firstpass.dll
/bin/Release/0Harmony.dll
